html{
  padding-top: 0px;
}
body {
  background-color: powderblue;
  padding: 0px;
  margin: 0px;

}
.top {
  background-image: url("../images/church.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  margin: 0px;
  min-height: 300px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
h1 {
  padding-top: 0px;
  margin-top: 0px;
}
footer {
  background-color: black;
  height: 200px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footlinks {
  margin: 0px 30px;
  text-decoration: none;
  color: white;
}
.main_buttons {
  display:grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: auto;
  grid-template-areas:
    ". b1 b2 ."
    ". b3 b4 .";

}
.mbutton {
  display: block;
}
#b1 {
  grid-area: b1;
}
#b2 {
  grid-area: b2;
}
#b3 {
  grid-area: b3;
}
#b4 {
  grid-area: b4;
}
